.events {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &_title {
        margin: 0%;
        padding: 8.9% 0px 0.85% 0px;
        color: rgba(34, 34, 34, 1);
        font-family: 'DM Sans';
        font-weight: 700;
        font-size: 48px;
        line-height: 100%;
        letter-spacing: 0%;
    }
    &_sub {
        color: rgba(85, 85, 85, 1);
        font-family: 'DM Sans';
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        text-align: center;
        letter-spacing: 0%;
    }
    &_container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3.4% 0px 8.9% 0px;
    }
    &_item {
        margin-right: 1.7%;
        border-radius: 6px;
        width: 33.3333%;
        &_date {
            position: absolute;
            padding: 8px 12px 8px 12px;
            border-radius: 6px 0px 0px 0px;
            width: 3.05%;
            height: 46px;
            color: rgba(255, 255, 255, 1);
            font-family: 'DM Sans';
            font-weight: 500;
            font-size: 18px;
            text-align: center;
        }
        &_img {
            width: 100%;
        }
        &_name {
            padding: 6.5% 6.4% 5.5% 6.4%;
            color: rgba(34, 34, 34, 1);
            font-family: 'DM Sans';
            font-weight: 500;
            font-size: 20px;
            line-height: 35%;
            text-align: left;
            letter-spacing: 0%;
        }
        &_data {
            display: flex;
            justify-content: space-between;
            padding: 0% 6.4% 8.7% 6.4%;
            font-family: 'DM Sans';
            font-weight: 400;
            font-size: 14px;
            line-height: 155%;
            text-align: left;
            letter-spacing: 0%;
        }
        &_time {
            display: flex;
            flex-direction: row;
            align-items: center;
            color: rgba(85, 85, 85, 1);
            font-family: 'DM Sans';
            font-weight: 400;
            font-size: 14px;
            line-height: 155%;
            &_icon {
                padding-right: 8px;
                width: 16px;
                height: 16px;
            }
        }
        &_place {
            display: flex;
            flex-direction: row;
            align-items: center;
            color: rgba(85, 85, 85, 1);
            font-family: 'DM Sans';
            font-weight: 400;
            font-size: 14px;
            line-height: 155%;
            &_icon {
                padding-right: 8px;
                width: 16px;
                height: 16px;
            }
        }
    }
}

.blue {
    background-color: rgba(136, 177, 235, 1);
}
.green {
    background-color: rgba(161, 212, 156, 1);
}
.red {
    background-color: rgba(236, 127, 127, 1);
}

.events_item:last-child {
    padding-right: 0px;
}

.events_item:nth-child(3n+1) {
    background-color: rgba(136, 177, 235, 1);
}

.events_item:nth-child(3n+2) {
   background-color: rgba(161, 212, 156, 1);
}

.events_item:nth-child(3n+3) {
   background-color: rgba(236, 127, 127, 1);
}