.courses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4.17%;
    padding-bottom: 11.8%;
    background-color: rgba(211, 229, 254, 1);
    &_title {
        margin: 0%;
        color: rgba(34, 34, 34, 1);
        font-family: 'DM Sans';
        font-weight: 700;
        font-size: 48px;
        line-height: 100%;
        letter-spacing: 0%;
    }
    &_sub {
        padding-top: 12px;
        padding-bottom: 3.3%;
        color: rgba(85, 85, 85, 1);
        font-family: 'DM Sans';
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
    } 
    &_container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: 35px;
        width: 75%;
    }
    &_item {
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
        margin: 0px 21px 24px 0px;
        width: 32%;
        background-color: rgba(255, 255, 255, 1);
        &_img {
            padding: 20px 0px 24px 0px;
            width: 86.4%;
        }
        &_head {
            display: flex;
            justify-content: space-between;
            padding-bottom: 18px;
            width: 86.4%;
            font-family: 'DM Sans';
            font-weight: 700;
            font-size: 24px;
            line-height: 100%;
            letter-spacing: 0%;
        }
        &_name {
            color: rgba(51, 51, 51, 1);
        }   
        &_price {
            color: rgba(8, 108, 249, 1);
        }
        &_txt {
            padding-bottom: 26px;
            width: 86.4%;
            color: rgba(85, 85, 85, 1);
            font-family: 'DM Sans';
            font-weight: 400;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 0%;
        }
    }
    &_btn {
        border: none;
        border-radius: 6px;
        width: 13.5%;
        height: 56px;
        background-color: rgba(8, 108, 249, 1);
        color: rgba(255, 255, 255, 1);
        font-family: 'DM Sans';
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: center;
    }
}

.courses_item:nth-child(3n) {
    margin-right: 0px;
}