.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 13.5%;
    width: 100%;
    height: 560px;
    background-image: url('../../assets/Adobe\ Express\ -\ file.png');
    &_main {
        padding-bottom: 2%;
        color: white;
        font-family: "DM Sans";
        font-weight: 700;
        font-size: 56px;
    }
    &_sub {
        width: 60%;
        color: white;
        font-family: "DM Sans";
        font-weight: 400;
        padding-bottom: 3.4%;
    }
    &_btn {
        margin-bottom: 46%;
        padding: 1% 0;
        border-radius: 4px;
        border: none;
        width: 12.2%;
        background-color: #4F88D9;
        color: white;
        font-family: "DM Sans";
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }
}