.stats {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 7.4%;
    &_container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 69.55%;
        padding: 3.9% 6.6%;
        border-radius: 4px;
        box-shadow: 0px 8px 35px rgba(0, 0, 0, 0.16);
        background-color: white;
    }
    &_item {
        display: flex;
        &_info {
            padding: 4px 0px 4px 24px; 
        }
        &_num {
            padding-bottom: 8px;
            font-family: 'DM Sans';
            font-weight: 700;
            font-size: 32px;
            line-height: 100%;
            letter-spacing: 0%;
        }
        &_text {
            font-family: 'DM Sans';
            font-weight: 400;
            font-size: 16px;
            line-height: 155%;
            letter-spacing: 0%;
            color: rgba(8, 108, 249, 1);
        }
    }
}