.footer {
    display: flex;
    padding: 60px 16% 80px 16%;
    background-color: rgba(211, 229, 254, 1);
    &_info {
        padding-right: 8.0299%;
        width: 31.45%;
        height: 281px;
        &_edu {
            &_title {
                padding-bottom: 24px;
                color: rgba(34, 34, 34, 1);
                font-family: 'DM Sans';
                font-weight: 700;
                font-size: 30px;
                line-height: 100%;
                letter-spacing: 0%;
            }
            &_sub {
                padding-bottom: 32px;
                color: rgba(85, 85, 85, 1);
                font-family: 'DM Sans';
                font-weight: 400;
                font-size: 16px;
                line-height: 155%;
                letter-spacing: 0%;
            }
        }
        &_follow {
            &_title {
                color: rgba(34, 34, 34, 1);
                font-family: 'DM Sans';
                font-weight: 700;
                font-size: 30px;
                line-height: 100%;
                letter-spacing: 0%;
            }
            &_icons {
                display: flex;
                margin: 0px;
                padding: 24px 0px 0px 0px;
            }
            &_item {
                padding-right: 16px;
                width: 48px;
                height: 48px;
                list-style-type: none;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    &_links {
        padding-right:  8.0299%;
        &_title {
            padding-bottom: 24px;
            white-space: nowrap;
            color: rgba(34, 34, 34, 1);
            font-family: 'DM Sans';
            font-weight: 700;
            font-size: 30px;
            line-height: 100%;
            letter-spacing: 0%;
        }
        &_list {
            margin: 0px;
            padding: 0px;
        }
        &_item {
            padding-bottom: 16px;
            padding-left: 28px;
            list-style-type: none;
            color: rgba(68, 68, 68, 1);
            font-family: 'DM Sans';
            font-weight: 400;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;
            &::before {
                content: '';
                position: absolute;
                height: 20px;
                width: 20px;
                background: url('../../assets/socials/image copy 5.png');
                transform: translate(-150%);
                background-size: cover;
            }
        }
    }
    &_support {
        padding-right:  8.0299%;
        &_title {
            padding-bottom: 24px;
            color: rgba(34, 34, 34, 1);
            font-family: 'DM Sans';
            font-weight: 700;
            font-size: 30px;
            line-height: 100%;
            letter-spacing: 0%;
        }
        &_list {
            margin: 0px;
            padding: 0px    ;
        }
        &_item {
            padding-bottom: 16px;
            padding-left: 28px;
            list-style-type: none;
            color: rgba(68, 68, 68, 1);
            font-family: 'DM Sans';
            font-weight: 400;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;
            &::before {
                content: '';
                position: absolute;
                height: 20px;
                width: 20px;
                background: url('../../assets/socials/image copy 5.png');
                transform: translate(-150%);
                background-size: cover;
            }
        }
    }
    &_contact {
        display: flex;
        flex-direction: column;
        &_title {
            padding-bottom: 24px;
            color: rgba(34, 34, 34, 1);
            font-family: 'DM Sans';
            font-weight: 700;
            font-size: 30px;
            line-height: 100%;
            letter-spacing: 0%;
        }
        &_sub {
            color: rgba(68, 68, 68, 1);
            font-family: 'DM Sans';
            font-weight: 400;
            font-size: 16px;
            line-height: 155%;
            letter-spacing: 0%;
        }
        &_icon {
            margin-right: 8px;
            height: 19px;
        }
        &_mobile {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 16px 0px 16px 0px
        }
        &_num {
            height: 100%;
            text-align: center;
            text-decoration: none;
            color: rgba(72, 143, 75, 1);
            font-family: 'DM Sans';
            font-weight: 400;
            font-size: 16px;
            line-height: 155%;
            letter-spacing: 0%;
        }
        &_mail {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-bottom: 16px;
        }
        &_address {
            height: 100%;
            text-align: center;
            text-decoration: none;
            color: rgba(236, 127, 127, 1);
            font-family: 'DM Sans';
            font-weight: 400;
            font-size: 16px;
            line-height: 155%;
            letter-spacing: 0%;
        }
        &_web {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        &_link {
            height: 100%;
            text-align: center;
            text-decoration: none;
            color: rgba(25, 107, 225, 1);
            font-family: 'DM Sans';
            font-weight: 400;
            font-size: 16px;
            line-height: 155%;
            letter-spacing: 0%;
        }
    }
}

.footer_contact_mail {
    .footer_contact_icon {
        width: 21px;
    }
}