.consult {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15%;
    padding-left: 13%;
    padding: 15% 13% 0% 13%;
    height: 40%;
    &_info {
        padding-right: 3.5%;
        width: 50%;
        &_title {
            margin-top: 0%;
            color: rgba(34, 34, 34, 1);
            font-family: 'DM Sans';
            font-weight: 700;
            font-style: bold;
            font-size: 48px;
            line-height: 100%;
            letter-spacing: 0%;
        }
        &_txt {
            color: rgba(85, 85, 85, 1);
            font-family: 'DM Sans';
            font-weight: 400;
            font-size: 16px;
            line-height: 155%;
            letter-spacing: 0%;
        }
        &_foot {
            color: rgba(85, 85, 85, 1);
            font-family: 'DM Sans';
            font-weight: 400;
            font-size: 20px;
            line-height: 100%;
            letter-spacing: 0%;
        }
        &_btn {
            width: 25%;
            height: 56px;
            background-color:rgba(8, 108, 249, 1);
            color: white;
            border-radius: 4px;
            border: none;
            font-family: 'DM Sans';
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0%;
        }
    }
    &_video {
        width: 50%;
    }
}